<!DOCTYPE html>
<html>
  <head>
    <title>Blocktrepreneur</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'b-favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112306378-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112306378-1');
</script>

  </head>

  <body>
  <div class="container" id="app-container"><!--container for due date and nav-->
		<div id="due-date"> Coming January 2018</div>  
	

  	<nav class="navbar navbar-default" role="navigation" id="nav">
			    
			    	
			        <!-- Brand and toggle get grouped for better mobile display -->
			        <div class="navbar-header">
			            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			                <span class="sr-only">Toggle navigation</span>
			                
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>
			            <a class="navbar-brand" href="#">Blocktrepreneur TV</a>
			            
						        <!--<%= link_to root_path do %>   
						    		<%= image_tag "block-logo.png", class: "logo-pic" %>
						    		<% end %>-->
						        </div>
			        
			        <!-- Collection of nav links and other content for toggling -->
			        <div id="navbarCollapse" class="collapse navbar-collapse">
			        	
			            <ul class="nav navbar-nav navbar-right" id="pages">
			            	
			            	<li><%= link_to "Home", root_path %></li>
						        <li><%= link_to "About Us", about_us_path %></li>
						        <li><%= link_to "Blog", blog_path %></li>
						       
			            </ul>
			        </div>
			    
			</nav>
		</div><!-- Container End -->

<!--///////////////////////////////////////////////////////Banner-Section//////////////////////////////////////-->










	<div class="container" id="app-container">
    <%= yield %>
  </div>

  <div class="container" id="app-container-footer">
  	<footer>

  	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  		<div class="social-box">
					<span class="fa fa-facebook" id="sm"aria -hidden="true"></span>
						<span class="fa fa-twitter" id="sm" aria -hidden="true"></span>
							<span class="fa fa-soundcloud" id="sm" aria -hidden="true"></span>
								<span class="fa fa-linkedin" id="sm" aria -hidden="true"></span>
				</div>
		</div>


		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="copy-inc"> &copy; 2018, Blocktrepreneur Inc. All Rights Reserved.  <%= link_to "Privacy Policy", asset_path("privacy_policy.pdf"), :target => "_blank", class: "policy" %> | <%= link_to "Terms of Service", asset_path("Terms_of_Service.pdf"), :target => "_blank", class: "policy" %></div>
		</div>

</footer>																	
  </div>
  </body>
</html>









